  .image-book {
    height:300px;
    width: 200px;
    box-shadow: 5px 10px 8px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 h1 {
     text-align: center;
 }

 h5 {
    text-align: center;
}